# Modificar con las credenciales que se vayan a crear
# Conexión MongoDB
MONGO_USER=
MONGO_PASSWORD=
MONGO_URI=mongodb://localhost:27017

# Conexión Cassandra
CASSANDRA_DATACENTER=datacenter1
CASSANDRA_KEYSPACE=

# Conexión Redis
REDIS_HOST=localhost
REDIS_PORT=6379