# Modificar con las credenciales que se vayan a crear
# MongoDB
MONGO_HOST=localhost
MONGO_IP=10.10.10.2
MONGO_HOST=localhost
MONGO_PORT=27017
MONGO_DATABASE=polyglotmusic
MONGO_USER=admin
MONGO_PASSWORD=password
MONGO_URI=mongodb://admin:password@localhost:27017/?authSource=admin

# Cassandra
CASSANDRA_HOST=localhost
CASSANDRA_IP=10.10.10.3
CASSANDRA_PORT=9042
CASSANDRA_KEYSPACE=polyglotmusic
CASSANDRA_CLUSTER_NAME=polyglotmusic-cluster

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_IP=10.10.10.4

# Neo4j
NEO4J_URI=bolt://localhost:7687
NEO4J_USER=neo4j
NEO4J_PASSWORD=password
NEO4J_IP=10.10.10.5